<a href="https://colab.research.google.com/github/vishnucode17/Upgrade-Assignments/blob/main/Let's_Upgrade_Assignment_4_DAY4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

How to import pandas and check the version?

In [ ]:
import pandas as pd # importing library named pandas as pd
print(pd.__version__) # checking the version of pandas

1.1.4

# Question 2

How to create a series from a numpy array?

In [ ]:
import numpy as np #importing numpy as np
arr=[10,20,30,40,50] #creating a numpy array
ser=pd.Series(arr) #converting numpy array to series
print(ser) # printing the series

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Question 3

How to convert the index of a series into a column of a dataframe?

In [ ]:
arr=[10,20,30,40,50] #creating a numpy array
ser=pd.Series(arr) #converting numpy array to series
df=pd.DataFrame(ser,columns=['value']) # converting series object to dataframe object
df['Index']=df.index # creating a new column in dataframe called index to store indices
print(type(df)) # printing type of dataframe
print(df) #printing dataframe

<class 'pandas.core.frame.DataFrame'>
   value  Index
0     10      0
1     20      1
2     30      2
3     40      3
4     50      4

# Question 4

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [ ]:
import seaborn as sns #importing seaborn library as sns
print(sns.get_dataset_names()) # sns.get_dataset_names() give the all inbuilt datasets in seaborn library

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [ ]:
mpg_ds=sns.load_dataset('mpg') # loading mpg dataset
mpg_ds

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

# Question 5

Which country origin cars are a part of this dataset?

In [ ]:
mpg_ds=sns.load_dataset('mpg') # loading mpg dataset
country=mpg_ds['origin'].value_counts() # getting country of origin and storing in the country variable
print(country)

usa       249
japan      79
europe     70
Name: origin, dtype: int64

# Question 6

Extract the part of the dataframe which contains cars belonging to 'usa'

In [ ]:
import pandas as pd # importing pandas library as pd
mpg_ds=sns.load_dataset('mpg') # loading mpg dataset
usa=mpg_ds[(mpg_ds['origin']=='usa')] # sorting out only the cars manufacutured in USA
usa

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]